@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.py-3 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bg-cyan-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(255, 255, 255);
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(0 0 0);
}

.w-10 {
    width: 4rem;
}

.h-10 {
    height: 4rem;
}

body {
  background: url("./Assets/Background.png") no-repeat center center fixed;
  background-size: cover;
}
