@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.py-3 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bg-cyan-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(255, 255, 255);
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(0 0 0);
}

.w-10 {
  width: 4rem;
}

.h-10 {
  height: 4rem;
}

body {
  background: url("./Assets/BackgroundRed.jpg") no-repeat center center fixed;
  background-size: cover;
}

.gantt-outer-container {
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}

.gantt-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add custom styles for the modal */
.relative.flex.max-h-\[90dvh\].flex-col.rounded-lg.bg-white.shadow.dark\:bg-gray-700 {
  border: 2px solid gray;
  background: linear-gradient(to right, #bcbcbc, #fafafa, #bcbcbc);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex.items-start.justify-between.rounded-t.border-b.p-5.dark\:border-gray-600{
  border: none;
}

.flex.items-center.space-x-2.rounded-b.border-gray-200.p-6.dark\:border-gray-600.border-t{
  border: none;
}

  .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, 0) !important;
}



